.menu__link{
    text-decoration: none;
    color:#000000;
    display: flex;
    transition: all .5s;
    align-items: center;
    justify-content: center;
    padding: 0 0.5vw;
    position: relative;
}

.menu__link:hover{
    color: #ffffff;
    padding: 0 2vw;
}
